/*
-----------------------------------------------
Site Layout Styles
Author:   akella at http://cssing.org.ua
Version:  1 sep 2009
----------------------------------------------- 
body{
	text-align:center;
	}
	#out, .in{
		margin:0 auto;
		text-align:left;
		width:1047px;
		}*/